:root {
  --border-radius: 12px;
  --font: "Epilogue", sans-serif;
  --font-headings: "Fraunces", serif;
  --gradient: linear-gradient(90deg, #3145FF 0%, #9A23DF 26.04%, #DD00A3 53.65%, #F30274 77.6%, #F22755 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
}

h1,
h2,
p,
i,
a,
blockquote,
.author-name a {
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

.editor {
  width: 100%;
  min-height: 60vh;
}

.editor .rc-md-editor {
  height: 100%;
}
